{{!< default}} {{! Everything inside the #post tags pulls data from the post }} 

{{#post}}
<article class="post entry">
    {{#if feature_image}}
      <figure class="post-thumbnail">
        <a class="post-thumbnail-inner" href=""{{url}}" aria-hidden="true">
          <img src="{{img_url feature_image size="528"}}"  alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
        </a>
      </figure>
    {{/if}}
    <header class="entry-header">
    <h1 class="entry-title">{{title}}</h1>
    <div class="entry-meta">
        {{> "entry-meta" }}
    </div>
    </header>
    <div class="entry-content">
					{{content}}
					<style>
						.gFnzgG,.gFnzgG *{box-sizing:border-box}
						.fIuTG{display:flex;flex-wrap:wrap;margin:0 -2%;background:0 0;line-height:100%;justify-content: center;}
						.dfdORB{width:150px;margin:0 2% 30px;padding:0;font-size:15px}
						.dfdORB a{text-decoration:none}
						.kMthTr{margin-top:12px;line-height:1.3;max-height:2.6rem;overflow:hidden}
						.eysHZq{display:flex;-webkit-box-align:center;align-items:center;margin-top:5px;min-height:16px;line-height:1;-webkit-box-align: center;}
						.HPRth{position:relative;min-height:87px;overflow:hidden;color:transparent;width: 150px;height: 230px;}
						.HPRth:hover{box-shadow:rgb(48 55 66 / 30%) 0 1rem 2.1rem}
						.jcTaHb{display:flex;-webkit-box-align:center;align-items:center}
						.lhtmRw{margin-right:1px;width:12px;height:12px;color:#fccd59}
						.gaztka{margin-right:1px;width:12px;height:12px;color:#eee}
						.iibjPt{margin-left:5px;color:#555;font-size:14px}
						.jvCTkj{margin-bottom:10px}
						.kEoOHR{display:inline-block;margin-right:15px;text-decoration:none;color:#157efb}
						.dvtjjf{display:inline-block;color:#555;text-decoration:none;padding:0 5px}
						.dvtjjf.active{background:rgba(85,85,85,.1)}
						.hide{display:none}
						.sort-by{text-align:right;margin-top:-15px}
						.sort-by-item{margin-left:10px;padding:0 5px;line-height:20px;text-decoration: none;color: var(--color-content-secondary);}
						.sort-by-item.active{background:rgba(85,85,85,.1)}
						.sort-by-item svg{margin-right:5px}
						.sc-hKFxyN img{max-width:100%!important;height:100%!important;display:block!important;vertical-align:middle!important;margin: 0;padding: 0;}
						.lazyload-wrapper {height: 100%;}
						.dfdORB a::before { content: attr(data-cm);position: absolute; color: red;z-index: 11;right: -5px;top: -10px;}
						@media(min-width:1024px){
						.lg\:col-span-6{grid-column:span 6/span 6!important}
						.lg\:col-start-2{grid-column-start:2!important}
						}
						@media (max-width:550px){
						.jcTaHb,.sc-bdnxRM{display:none}
						}
					</style>
					<script type="text/javascript">
						function search(e) {
							if(e.target.dataset.value == 'book'){
								document.querySelectorAll('.fyear .dvtjjf').forEach(item => item.classList.add('hide'));
								document.querySelector('.genres').classList.add('hide');
								document.querySelectorAll('.dfdORB[data-type=book]').forEach(function(item){
									document.querySelectorAll('.fyear .dvtjjf[data-value="'+ item.dataset.year +'"]').forEach(item => item.classList.remove('hide'));
								});
								document.querySelectorAll(`.sc-gtsrHT`).forEach(item => item.classList.remove('active'));
								e.target.classList.add('active')

							}else if(e.target.dataset.value == 'movie'){
								document.querySelectorAll('.fyear .dvtjjf').forEach(item => item.classList.add('hide'));
								document.querySelector('.genres').classList.remove('hide');
								document.querySelectorAll('.dfdORB[data-type=movie]').forEach(function(item){
									document.querySelectorAll('.fyear .dvtjjf[data-value="'+ item.dataset.year +'"]').forEach(item => item.classList.remove('hide'));
								});
								document.querySelectorAll(`.sc-gtsrHT`).forEach(item => item.classList.remove('active'));
								e.target.classList.add('active')
							}else if(e.target.classList.contains('kEoOHR')){
								document.querySelector('.genres').classList.remove('hide');
								document.querySelectorAll(`.sc-gtsrHT`).forEach(item => item.classList.remove('hide'));
								document.querySelectorAll('.dfdORB').forEach(item => item.classList.remove('hide'));
								document.querySelectorAll(`.sc-gtsrHT`).forEach(item => item.classList.remove('active'));
							}
						
							document.querySelectorAll('.dfdORB').forEach(item => item.classList.add('hide'));
							document.querySelector(`.dvtjjf.active[data-search="${e.target.dataset.search}"]`)?.classList.remove('active');
							if(e.target.dataset.value) {
								e.target.classList.add('active');
							}
							const searchItems = document.querySelectorAll('.dvtjjf.active');
							const attributes = Array.from(searchItems, searchItem => {
								const property = `data-${searchItem.dataset.search}`;
								const logic = searchItem.dataset.method === 'contain' ? '*' : '^';
								const value = searchItem.dataset.method === 'contain' ? `${searchItem.dataset.value}` : searchItem.dataset.value;
								return `[${property}${logic}='${value}']`;
							});
							const selector = `.dfdORB${attributes.join('')}`;
							document.querySelectorAll(selector).forEach(item => item.classList.remove('hide'));
							
							
							


						}
						window.addEventListener('click', function(e) {
						if(e.target.classList.contains('sc-gtsrHT')) {
							e.preventDefault();
							search(e);
						}
						});
						function sort(e) {
						const sortBy = e.target.dataset.order;
						const style = document.createElement('style');
						style.classList.add('sort-order-style');
						document.querySelector('style.sort-order-style')?.remove();
						document.querySelector('.sort-by-item.active')?.classList.remove('active');
						e.target.classList.add('active');
						if(sortBy === 'rating') {
							const movies = Array.from(document.querySelectorAll('.dfdORB'));
							movies.sort((movieA, movieB) => {
							const ratingA = parseFloat(movieA.dataset.rating) || 0;
							const ratingB = parseFloat(movieB.dataset.rating) || 0;
							if(ratingA === ratingB) {
								return 0;
							}
							return ratingA > ratingB ? -1 : 1;
							});
							const stylesheet = movies.map((movie, idx) => `.dfdORB[data-rating="${movie.dataset.rating}"] { order: ${idx}; }`).join('\r\n');
							style.innerHTML = stylesheet;
							document.body.appendChild(style);
						}
						}
						window.addEventListener('click', function(e) {
						if(e.target.classList.contains('sort-by-item')) {
							e.preventDefault();
							sort(e);
						}
						});
					</script>
					<div class="lg:col-start-2 lg:col-span-6">
						<div class="sc-ksluID gFnzgG">
							<div class="sc-bdnxRM genres">
							</div>
							<div class="sc-bdnxRM fyear">
							</div>
							<div class="sc-bdnxRM">
								<a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="star" data-method="equal" data-value="">全部</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="5">五星</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="4">四星</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="3">三星</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="2">二星</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="1">一星</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal" data-value="0">零星</a>
							</div>
							<div class="sc-bdnxRM type">
								<a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="type" data-value="">全部</a> 
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="type" data-value="movie">影视</a>
								<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="type" data-value="book">书籍</a>
							</div>
							<div class="jvCTkj sort-by">
								<a href="javascript:void 0;" class="sort-by-item active" data-order="time">时间排序</a>
								<a href="javascript:void 0;" class="sort-by-item" data-order="rating">评分排序</a>
							</div>
							<div class="sc-dIsUp fIuTG movies">
							</div>
						</div>
					</div>
    </div>
  </article>

{{/post}}

	<script type="text/x-tmpl" id="tmpl-movies">
		{% for (var i=0; i<o.douban.length; i++) { %}
		<div 
			class="sc-gKAaRy dfdORB hint--top hint--medium" 
			data-year="{%= typeof(o.douban[i].pubdate) == "undefined" ? "":o.douban[i].pubdate.substring(0,4) %}" 
			data-star="{%= o.douban[i].star %}"
			data-rating="{%= o.douban[i].rating %}"
			data-genres="{%= o.douban[i].genres %}"  
			aria-label="{%= o.douban[i].comment %}" 
			data-type="{%= o.douban[i].type %}"
		>
			<a rel="link" href="{%= o.douban[i].url %}" target="_blank" data-cm="{%= o.douban[i].comment=="" ? '':'✍️' %}">
			<div class="sc-hKFxyN HPRth">
				<div class="lazyload-wrapper ">
				<img class="avatar" src="{%= o.douban[i].poster %}" referrer-policy="no-referrer" loading="lazy" alt="{%= o.douban[i].title %}" width="150" height="220">
				</div>
			</div>
			<div class="sc-iCoGMd kMthTr">{%= o.douban[i].title %}</div>
			<div class="sc-fujyAs eysHZq">
				<span class="sc-jSFjdj jcTaHb">

					{% for (var b=0; b<5; b++) { %}
					<svg viewBox="0 0 24 24" width="24" height="24" class="sc-dlnjwi {% if (b < o.douban[i].star) { %} lhtmRw {% }else{ %} gaztka {% } %} ">
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path fill="currentColor" d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"></path>
					</svg>
					{% } %}
				</span>
				<span class="sc-pNWdM iibjPt">{%= o.douban[i].rating %}</span>
			</div>
			</a>
		</div>
		{% } %}

	</script>
	<script type="text/x-tmpl" id="tmpl-genres">
		<a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="genres" data-method="contain" data-value="">全部</a>
		{% for (var i=0; i<o.length; i++) { %}
		<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="genres" data-method="contain" data-value="{%= o[i] %}">{%= o[i] %}</a>
		{% } %}
	</script>
	<script type="text/x-tmpl" id="tmpl-fyear">
		<a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="year" data-method="equal" data-value="">全部</a>
		{% for (var i=0; i<o.length; i++) { %}
		<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="year" data-method="equal" data-value="{%= o[i] %}">{%= o[i] %}</a>
		{% } %}
	</script>


	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
		<script>
		$(document).ready(function () {
			var temp = { douban : [], books:[]}
			$.when(
				{{!-- $.getJSON('{{ @custom.douban_book }}'), 
				$.getJSON('{{ @custom.douban_movie }}') --}}

				$.getJSON('https://github.com/rebron1900/doumark-action/raw/master/data/douban/book.json'), 
				$.getJSON('https://github.com/rebron1900/doumark-action/raw/master/data/douban/movie.json')

			).done(function(b, m) {  // 或者也可以使用 ".done"
				$(m[0]).each(function(i,v){
					temp.douban.push({id : this.id, 
									title : this.subject.title, 
									subtitle : this.subject.card_subtitle, 
									poster: this.subject.pic.large,
									pubdate: this.subject.pubdate[0],
									url: this.subject.url,
									rating: this.subject.rating.value,
									genres: this.subject.genres.join(','),
									star: this.subject.rating.star_count,
									comment: this.comment,
									tags: this.tags.join(','),
									star_time: this.create_time,
									type: 'movie'
									})
				})
				$(b[0]).each(function(){
					temp.douban.push({id : this.id, 
									title : this.subject.title, 
									subtitle : this.subject.card_subtitle, 
									poster: this.subject.pic.large,
									pubdate: this.subject.pubdate[0],
									url: this.subject.url,
									rating: this.subject.rating == null ? 0 : this.subject.rating.value,
									genres: '',
									star: this.subject.rating == null ? 0 : this.subject.rating.star_count,
									comment: this.comment,
									tags: '',
									star_time: this.create_time,
									type: 'book'
									})
				})
				
				$('.movies').html(tmpl('tmpl-movies', temp))

				var gtemp = [];
				var gyear = [];
				$(temp.douban).each(function(){ 
					t = this.genres.split(',');
					if(t.length > 0){
						$(t).each(function(i,d){
							if(gtemp.indexOf(d) == -1){ gtemp.push(d) }
						});
					}else{
					gtemp.push(this.genres) }
 
					
					this.pubdate = typeof(this.pubdate) == "undefined" ? "" : this.pubdate.replace('年','-').replace('月','-')
					var tyear = (new Date(this.pubdate).getFullYear());
					if(gyear.indexOf(tyear) == -1 ){
						gyear.push(tyear)
					}
				});
				$('.genres').html(tmpl('tmpl-genres', gtemp))
				$('.fyear').html(tmpl('tmpl-fyear', gyear.sort(function(a,b){ return b-a }	)))
			});			
		});
		</script>
