{{!-- Put this into default.hbs --}}
{{!< default}} 
{{#post}} 
<article class="post entry">
  {{> "posts/feature"}}
  <header class="entry-header">
    <h1 class="entry-title">{{title}}</h1>
    <div class="entry-meta">
      {{> "entry-meta" }}
      <span class="tags-links">
        {{> "icons/ui/comment" }}
        <a href="#comments" class="hint--bottom" aria-label="点击参与评论">参与评论</a>
      </span>
    </div>
  </header>
  <div class="entry-content">
    {{content}}
    {{> 'posts/btn'}}
    </div>
    
    
    {{!-- <div class="sm-post-top">
        <button class="sm-post-top-btn">
          {{> "icons/ui/top" }}
        </button>
    </div> --}}

  </div>
  </article>



  {{#primary_author}}
  <div class="author-bio">
    <h2 class="author-title">
      <span class="author-heading">
        发布者：{{name}} </span>
    </h2>
    <p class="author-description">
      {{bio}} <a class="author-link" href="{{url}}" rel="author">
        查看更多文章 </a>
    </p><!-- .author-description -->
  </div>
  {{/primary_author}}


  <nav class="navigation post-navigation" aria-label="文章">
    <h2 class="screen-reader-text">文章导航</h2>
    <div class="nav-links">
      {{#prev_post}}
      <div class="nav-next">
        <a href="{{url}}" rel="next">
          <span class="meta-nav" aria-hidden="true">下一篇文章</span>
          <span class="screen-reader-text">下一篇文章：</span>
          <br>
          <span class="post-title">{{title}}</span></a>
      </div>
      {{/prev_post}}

      {{#next_post}}
      <div class="nav-previous">
        <a href="{{url}}" rel="next">
          <span class="meta-nav" aria-hidden="true">上一篇文章</span>
          <span class="screen-reader-text">上一篇文章：</span>
          <br>
          <span class="post-title">{{title}}</span></a>
      </div>
      {{/next_post}}
    </div>
  </nav>

  {{> "posts/comments" }}
  {{/post}}